<!doctype html>
<html lang="en">
    <link rel="stylesheet" media="screen" href="{{  url_for('static', filename="bootstrap.min.css")  }}"

    <head>
        <!-- Required metadata tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Predict Wine Quality with Sklearn">

        <title>Predict Red Wine Quality with Sklearn Model</title>
    </head>

    <body class - "body">
    <body style="margin-left: 2.5%">
        <h1>Sklearn Red Wine Prediction</h1>
        <h4><a href="{{ url_for('predict') }}">Click here to predict the quality scores of red wines.</a></h4>
    </body>